.formPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 16px;
    margin: 50px 100px;
}

.formCardHeader {
    display: flex;
    align-items: center;
    padding: 0;
}

.formCardHeader > h1 {
    margin: 0;
}

.formRadio {
    display: flex;
    align-items: center;
}